[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
pyyaml = "*"
typer = "*"
dotenv = "*"
smartdoc = {file = ".", editable = true}
pydantic = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinxawesome-theme = "*"
furo = "*"

[dev-packages]

[requires]
python_version = "3.13"
