name: docs-ci

on:
  pull_request:
    branches: [main]

jobs:
  run-vale:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4

        - uses: actions/setup-python@v5
          with:
            python-version: "3.11"

        - name: Install docs dependencies
          run: pip install -r docs/requirements-docs.txt

        - uses: errata-ai/vale-action@v2.1.1
          with:
            files: docs/source/
            fail_on_error: true

  build-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install docs dependencies
        run: pip install -r docs/requirements-docs.txt

      - name: Build Sphinx docs (HTML)
        run: sphinx-build -b html docs/source docs/build/html

  check-links:
    needs: build-docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install docs dependencies
        run: pip install -r docs/requirements-docs.txt

      - name: Check links
        run: sphinx-build -b linkcheck docs/source docs/build/linkcheck
